/*
.main1{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.main2{
    display: flex;
    flex-direction: column;
    margin-top: -4%;
}

.main3{
    display: flex;
    flex-direction: column;
    margin-top: -4%;
}

.main4{
    display: flex;
    flex-direction: column;
    margin-top: -4%;
}

.samsung{
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4%;    
    margin: 0;
    border-bottom: 10px solid #024b0c;
}

.slider1{
    width: 45%;
    height: auto;
    margin: auto 20px;
    overflow: hidden;
    
}

.lista_samsung{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slider1 20s infinite alternate ease-in-out;
}

.lista_item{
    list-style: none;
    width: 25%;
}

.lista_imagen{
    width: 80%;
}

@keyframes slider1 {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.caracteristicas_samsung{
    width: 50%;
    padding: 7% 0% 5%;
    font-family: 'Montserrat', sans-serif;
}

.caract_todo{
    border: 1px solid gray;
    border-radius: 25px;
    padding: 19px;
    box-shadow: 3px 6px 6px grey;
    /* margin: 0px -46px; */
/*    margin: 0px 20px;
}

.imagen_a14{    
    padding: 11px 19px 26px 20px;    
}

.titulo_samsung{
    font-size: 30px;
}

.colores{
    font-weight: bold;
    font-size: 20px;
}

.circulo {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px; /* Espacio entre los círculos y el texto */
/*}

.uno {
    background-color: black;
}

.dos {
    background-color: grey;
}

.tres {
    background-color: green;
}

.titulo_caracteristicas{
    font-size: 20px;
}

.texto_caracteristicas{
    line-height: 1.5;
    font-size: 18px;
}

.lista{
    list-style: none;
    font-size: 18px;
}

.img_lista{
    float: left;
    width: 20px;
    padding: 6px 18px
}

.items{
    line-height: 2.3;
}

.precio_samsung{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    background: orange;
    border-radius: 25px;
    padding: 8px 0px 11px;
    margin: -5px 50px;
    font-weight: bold;
}

.precio_texto{
    display: contents;
}

.seccion_carrito{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 8px;
}

.carrito_btn{
    display: flex;    
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid orange;
    box-shadow: 3px 6px 6px grey;
}

.carrito_imagen{
    width: 50px;
    height: 50px;    
}

.carrito_btn:hover{
    background-color: orange; /* Cambiar el color al pasar el cursor */
 /*   box-shadow: 0px 6px 8px black;
}

.circulo_uno_s22{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: black;
}

.circulo_dos_s22{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 5px;
    background-color: white;
}

.circulo_tres_s22{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: pink;
}

.circulo_cuatro_s22{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: greenyellow;
}

.circulo_uno_s23{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: black;
}

.circulo_dos_s23{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: greenyellow;
}


/*responsive*/
/*
@media screen and (max-width: 1200px) {
    .main1{
        margin-top: 50px;
    }

}

@media screen and (max-width: 800px) {

    .main1{
        display: flex;
        flex-direction: column;
        margin-top: 106px;
    }

    .caracteristicas_samsung{
        width: 95%;
        padding: 7% 0% 5%;
        font-family: 'Montserrat', sans-serif;
    }

}

