.menu{
    display: flex;
    padding-right: 35px;
}

.menu__lista{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.menu__item{
    list-style: none;
    transform: 0.3s;
}    

.menu__item:hover{
    transform: scale(1.2);
}

.menu__link:hover {
    text-decoration: underline;
    transition: 2s all;
}

.menu__link {
    color: white;
    margin-right: 1.25rem;
    text-decoration: none;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #808080; 
    padding-left: 22px;  
    padding-right: 22px; 
    font-family: 'Monserrat',sans-serif;
}
