.footer{
    border-top: 3px solid white;
}

.powered__content{
    background: #024b0c;
    display: flex; 
    justify-content: center;   
}

.powered__content-text{
    font-weight: 600;
}